<div class="container">
  <h2>Course Info</h2>

  <hr />

  <form *ngIf="course" [formGroup]="cadastro" autocomplete="off" novalidate>
    <!-- controlName vai sem databind, pois não é uma variável ou objeto. Aqui só vai a string-->
    <app-input-text [formGroup]="cadastro" controlName="name"></app-input-text>

    <app-input-number
      [formGroup]="cadastro"
      controlName="price"
      step="1"
    ></app-input-number>

    <app-input-number
      [formGroup]="cadastro"
      controlName="rating"
      step="0.5"
    ></app-input-number>

    <app-input-textarea
      [formGroup]="cadastro"
      controlName="description"
    ></app-input-textarea>

    <button (click)="save()" class="btn btn-primary mr-2" type="submit">
      Save
    </button>

    <button [routerLink]="['/courses']" class="btn btn-secondary" type="button">
      Back
    </button>
  </form>
</div>
