<!--
<app-funcionario-detalhe></app-funcionario-detalhe>
-->

<!--
<h2>{{nome | lowercase}}</h2>
<h2>{{nome | uppercase}}</h2>
<h2>{{nome | titlecase}}</h2>
<h2>{{nome | slice:5}}</h2>

<h2>{{info | json}}</h2>

<h2>{{0.50 | percent}}</h2>
<h2>{{0.50 | currency}}</h2>

<h2>{{date | date:'date'}}</h2>
<h2>{{date | date:'shortDate'}}</h2>
<h2>{{date | date:'shortTime'}}</h2>

<router-outlet></router-outlet>
-->
<app-nav-bar></app-nav-bar>
<div class="container-lg mt-4">
    <app-funcionario-detalhe></app-funcionario-detalhe>
</div>
